.container {
	@include container($container-width);
}

/**
 * Create span classes 1 through $number-of-columns e.g. span-1, span-2.
 */
@for $i from 1 through $number-of-columns {
	.span-#{$i} {
		$span: $i;
		@include span($span of $number-of-columns);
	}
}