/**
 * Global
 *
 * $body-background-color - background color of body element
 */
$body-background-color: #dddddd;

/**
 * Grid
 *
 * $container-width - width of the containing div
 * $number-of-colums - incrementation of span elements
 */
$container-width: 1200px;
$number-of-columns: 12;

/**
 * Tiles
 *
 * $tile-padding - padding around tile content (border-box)
 * $border-radius - border-radius amount of tile
 * $tile-background-color - background color of the whole tile 
 */
$tile-padding: 20px;
$border-radius: 3px;
$tile-background-color: #ffffff;
