extends ./tile.jade

block vars
	- var tileClass = 'tileColors'
	- var tileSpan = '4'

block content
	div(class="color-block color-block--dark")
	div(class="color-block color-block--light")
	div(class="color-block color-block--primary")
	div(class="color-block color-block--secondary")
