$color-dark: #000000;
$color-light: #FFFFFF;
$color-primary: #BD1E1E;
$color-secondary: #383961;

@function set-color-code-color($color) {
	@if (lightness($color) > 50%) {
		@return #000000;
	} @else {
		@return #ffffff;
	}
}

@mixin color-block($color) {
	background-color: $color;

	&::after {
		content: "#{$color}";
		color: set-color-code-color($color);
	}
}

.color-block {
	display: block;
	height: 50px;
	width: 100%;
	position: relative;

	&::after {
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
}

.color-block--dark {
	@include color-block($color-dark);
}

.color-block--light {
	@include color-block($color-light);
}

.color-block--primary {
	@include color-block($color-primary);
}

.color-block--secondary {
	@include color-block($color-secondary);
}